/*html,body,div,ul,li,svg{
	margin:0;
	padding:0;
	list-style:none;
}*/
/*------------Global-------------*/
html,body{
	height: 100%;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
}
.container{
    height:100%;
}
.container .section{
	width:100%;
}
.container .canvas{
	width:100%;
	background:white;
	height:900px;
    position:relative;
}
.container .controls{
	margin-bottom:20px;
}

.scale-label {
  color: black;
}

/*-----------tooltip-----------*/
.custom-tooltip {
    position:absolute;
    border:none;
    /*width:150px;*/
    min-height:10px;
    padding:0px 10px;
}
.custom-tooltip{
	position:absolute;
	/*width:150px;*/
	min-height:10px;
	padding:0px 10px;
	opacity:0;
	background-color:rgba(100,100,100,.4)

}
/*canvas {
    position:absolute;
    z-index:-1;
  }*/
/*------------font-------------*/
/*body{
	font-size: 16px;
}
h1{ font-size:2em;}
h2{ font-size:1.1em;}
p{ font-size: .9em;}*/

/*------------svg--------------*/
#map {
	height: 1300px;
}
/*.neighbor{*/
	/*fill:none;*/
	/*stroke:green;*/
	/*stroke-width:1px;*/
/*}*/



/* slider */
/*body {
  background-color: #393939;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}*/

p {
  color: white;
  margin: 50px;
}

a {
  color: #4FDEF2;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

#c .tick:last-of-type text {
  display: none;
}

.channel canvas {
  float: left;
  margin: 40px 30px 0 30px;
  width: 900px;
  height: 90px;
}

.axis2 {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.axis2 .halo2 {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {
  stroke: white;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: white;
  text-align: center;
  font-size: 18px;
}


.slider2 .handle path {
  stroke: white;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider2 .handle text {
  fill: white;
  text-align: center;
  font-size: 18px;
}



/*svg {
	position: absolute;
    top: 50px;
}


svg2 {
  position: absolute;
    top: 250px;
}*/